@tailwind base;
@tailwind components;
@tailwind utilities;

.product-container {
    display: block;
   text-align: center;
    width: 100%;
}

.products {
    display: block;
}

.add-to-cart-btn {
    font-size: 12px;
    border-radius: .25em;
    color: white;
    background-color: black;
    margin-bottom: 1em;
}